.about_intro{
    width: 95%;
    margin-left: 2.5%;
    border-radius: 40px;
    height: 95vh;
    background-color: #eefcfd;    border-bottom-right-radius: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}
.about_intro img{
    height: 250px;
    width: 250px;
    object-fit: contain;
    border: 2px solid white;
    border-radius: 123px;
    margin-top: -100px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.4); 

}

.intro_features{
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    
}
.intro_features h1{
    /* text-align: center; */
    font-family: 'Vidaloka', serif;
    text-transform: uppercase;
    color:#096873;
    margin-bottom:2rem ;
}
.intro_feature_left{
    border-right: 8px solid white;
    padding-right: 40px;
    
}

.intro_features p{  
    margin-bottom: 1.5rem;
    font-size: 17px;
    /* color: #0A96A6; */
}
.intro_feature_right h4{
    line-height: 25px;
    font-size: 18px;
    width: 35vw;
}