*{
  margin: 0px;
  padding: 0px;
}

body, html{
  /* color: #0A96A6;
  color:#096873;
  color: #F2CB57;
  color: #F2CA80;
    background-color: #425ca3;
  color: #8C0303; */
  
  font-family: 'Lato', sans-serif;
  /* font-family: 'Vidaloka', serif; */

}
a{
  color: red;
  text-decoration: none;
  color: #0A96A6;
  font-size: 17px;
  font-weight: bold;
}